In [2]:
import pandas as pd

In [3]:
dados = pd.read_csv('dadoslimpos.csv', sep= ';')

In [8]:
dados.head()
dados.fillna(0)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
...,...,...,...,...,...,...,...,...,...
32193,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32194,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32195,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32196,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0
32197,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [9]:
classes = [0,2,4,6,100]

In [10]:
quartos = pd.cut(dados.Quartos, classes)

In [11]:
quartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2               NaN
3        (0.0, 2.0]
4        (0.0, 2.0]
            ...
32193           NaN
32194    (2.0, 4.0]
32195    (0.0, 2.0]
32196    (0.0, 2.0]
32197           NaN
Name: Quartos, Length: 32198, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [12]:
pd.value_counts(quartos)

(0, 2]      11855
(2, 4]       9715
(4, 6]        706
(6, 100]       85
Name: Quartos, dtype: int64

In [13]:
labels =['1 e 2 quartos',' 3 e 4 quartos',' 5 e 6 quartos','7 quartos ou mais']

In [15]:
quartos = pd.cut(dados.Quartos, classes,labels =labels)

In [16]:
pd.value_counts(quartos)

1 e 2 quartos        11855
 3 e 4 quartos        9715
 5 e 6 quartos         706
7 quartos ou mais       85
Name: Quartos, dtype: int64

In [17]:
quartos = pd.cut(dados.Quartos, classes,labels =labels, include_lowest=True)

In [18]:
pd.value_counts(quartos)

1 e 2 quartos        21692
 3 e 4 quartos        9715
 5 e 6 quartos         706
7 quartos ou mais       85
Name: Quartos, dtype: int64